[Unit]
Description=RustServer
After=network-online.target
Wants=network-online.target
Requires=dbus.socket

[Service]
Type=oneshot
WorkingDirectory=%h
RemainAfterExit=yes
ExecStart=%h/rustserver start
ExecStop=%h/rustserver stop
Restart=no

[Install]
WantedBy=default.target
