[Unit]
Description=tmux master service, required for rustserver-monitor

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s master -d
ExecStop=/usr/bin/tmux kill-session -t master
